body{font-family:arial}
background-color:violet;
section{color: blue;}
p{color:green;}
border-style:dotted;
border-top-color:green;
border-right color:pink;
border-bottom color:green;
border-left color:red;
padding:1em 3em 1em;
border-radius:60px/40px;
text-align:centre

